<div class="spinner">
    <div class="circular3dG-container">
        <div class="circular3d_1G circular3dG">
        </div>
        <div class="circular3d_2G circular3dG">
        </div>
        <div class="circular3d_3G circular3dG">
        </div>
        <div class="circular3d_4G circular3dG">
        </div>
        <div class="circular3d_5G circular3dG">
        </div>
        <div class="circular3d_6G circular3dG">
        </div>
        <div class="circular3d_7G circular3dG">
        </div>
        <div class="circular3d_8G circular3dG">
        </div>
    </div>
</div>
