.ranking-view {
    .ranking-table {
        th {
            cursor: pointer;
        }

        .name {
            width: 40%;
        }

        .url {
            width: 50%;
        }

        .violations {
            width: 10%;
            text-align: center;
        }
    }
}
